<h3>Add New Cow</h3>
<form [formGroup]="form" (ngSubmit)="save()">
	<input placeholder="Ear Tag" formControlName="earTag" required />
	<select formControlName="sex" required>
		<option value="">Select Sex</option>
		<option>Male</option>
		<option>Female</option>
	</select>
	<input placeholder="Pen" formControlName="pen" required />
	<select formControlName="status">
		<option>Active</option>
		<option>In Treatment</option>
		<option>Deceased</option>
	</select>
	<input type="number" placeholder="Weight" formControlName="weight" min="1" />
	<button type="submit">Save</button>
</form>
